* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(45deg, #3bf8ffad, #3f5feba1);
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.cart {
    background-color: white;
    width: 100%;
    max-width: 450px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.title {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 30px;
    font-size: 24px;
}


.form-group {
    margin-bottom: 20px;
}


.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #34495e;
    font-weight: bold;
}


.form-group input {
    width: 100%;
    padding: 12px 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border 0.3s;
}


.form-group:focus {
    border-color: #3498db;
    outline: none;
}

.form-row {
    display: flex;
    gap: 15px;
}


.btn {
    width: 100%;
    padding: 14px;
    background: #2ecc71;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 10px;
}


.btn:hover {
    background: #27ae60;
}

.footer {
    text-align: center;
    margin-top: 25px;
    color: #7f8c8d;
}


.footer a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 500px) {
    .card {
        padding: 25px;
    }

    .form-row {
        flex-direction: column;
        gap: 0;
    }
}

.back-btn {
    display: inline-block;
    text-decoration: none;
    color: #2438ff;
    font-weight: bold;
    margin-bottom: 20px;
    transition: 0.3s;
}

.back-btn:hover {
    color: #0f1fb8;
    transform: translateX(5px);
}